<div class="container">
    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Sobre Nosotros</h2>
                <p class="lead mb-5">Somos una empresa dedicada a proporcionar soluciones eficientes para la gestión
                    de inventario. Nuestro objetivo es ayudar a las empresas a optimizar sus procesos de gestión de
                    inventario y mejorar su rendimiento.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-5 mb-lg-0">
                    <img src="../../../assets/img/Misión.webp" class="card-img-top mx-auto" alt="Imagen de Misión" >
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Misión</h5>
                        <p class="card-text">Nuestra misión es brindar herramientas y servicios innovadores que
                            simplifiquen la gestión de inventario y ayuden a nuestros clientes a alcanzar sus objetivos
                            empresariales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-5 mb-lg-0">
                    <img src="../../../assets/img/vision.png"class="card-img-top mx-auto" alt="Imagen de Visión" style="max-height: 20%;">
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Visión</h5>
                        <p class="card-text">Nos esforzamos por ser líderes en el mercado de soluciones de gestión de
                            inventario, reconocidos por nuestra innovación, calidad y compromiso con la satisfacción
                            del cliente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
